# vim:filetype=make
# make.config
#local

#HPG
objdir = /home/james.thorpe/bin/libj/C++/obj
incdir = /home/james.thorpe/bin/libj/C++/inc
libdir = /home/james.thorpe/bin/libj/C++/lib


#C++ compiler and options
#must use C++ --std=c++11
CPP = g++
CPPFLAGS = --std=c++11 -O3 -funroll-loops -flto -march=native -mavx2 -mavx -fopenmp 

#Library generator and options
LC = ar
LCFLAGS = rs

#hpg
#linear algebra libraries
# hipergator
MKL = /apps/compilers/intel/2018/1.163/compilers_and_libraries_2018.1.163/linux/mkl/lib/intel64_lin
LINAL = -L$(MKL) -Wl,-R$(MKL) -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_core -lmkl_sequential -lm

