# vim:filetype=make
# make.config
objdir = /Users/james.thorpe/work/jlib/C++/obj
incdir = /Users/james.thorpe/work/jlib/C++/inc

FC  = gfortran
FFLAGS = -g -fcheck=bounds -Wall -Wextra -Wshadow -ffixed-line-length-none -ffree-line-length-none -fcheck=array-temps -O3 -funroll-loops -march=native -flto

#CPP = gcc --std=c++11
CPP = /usr/local/opt/llvm/bin/clang
CPPFLAGS = --std=c++11 -g -Wall -Wextra -Wshadow -O3 -funroll-loops -march=native -fopenmp -flto -I/usr/local/opt/llvm/include


