# vim:filetype=make
# make.config
#local
#objdir = /Users/james.thorpe/work/libj/C++/obj
#incdir = /Users/james.thorpe/work/libj/C++/inc
#libdir = /Users/james.thorpe/work/libj/C++/lib
#basdir = /Users/james.thorpe/work/libj/C++

#HPG
objdir = /home/james.thorpe/bin/libj/C++/obj
incdir = /home/james.thorpe/bin/libj/C++/inc
libdir = /home/james.thorpe/bin/libj/C++/lib
basdir = /home/james.thorpe/bin/libj/C++

#C compiler and options
C = mpicc
#CFLAGS = -O3 -funroll-loops -flto -march=native -Xpreprocessor -fopenmp -lomp
CFLAGS = -O3 -funroll-loops -flto -march=native -fopenmp 

#C++ compiler and options
#must use C++ --std=c++11
CPP = mpic++
#CPPFLAGS = --std=c++11 -O3 -funroll-loops -flto -march=native -Xpreprocessor -fopenmp -lomp
CPPFLAGS = --std=c++11 -O3 -funroll-loops -flto -march=native -fopenmp 

#Library generator and options
LC = ar
LCFLAGS = rs

#hpg
#linear algebra libraries
# hipergator
#LINAL = -lblas -llapack
MKL = /apps/compilers/intel/2018/1.163/compilers_and_libraries_2018.1.163/linux/mkl/lib/intel64_lin
LINAL = -L$(MKL) -Wl,-R$(MKL) -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_core -lmkl_sequential -lm

